.sprite {
    background-image: url(../img/icons_sprite.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-fb {
    background-position: 5px 2px;
    &:hover{
        background-position: -25px 2px;
        cursor:pointer;
    }
}

.sprite-like {
    background-position: -62px -3px;
}

.sprite-tw {
    background-position: -103px 5px;
    &:hover{
        background-position: -146px 2px;
    }
}

.sprite-vk {
    background-position: -194px 4px;
    &:hover{
        background-position: -241px 2px;
    }
}
