/*fonts*/
$thin: normal 1em 'Roboto-Thin';
$light: normal 1em 'Roboto-Light';
$medium: normal 1em 'Roboto-Medium';
$bold: normal 1em 'Roboto-Bold';

/*colors*/
$txt: rgb(104, 99, 99);
$pinc: #f97e76;

$border: 1px solid #f97e76;

